/* STYLES CSS */

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i');


/* GENERALES */


body{
  width: 100%;
  margin: 0;
  padding:0;
  font-family: 'Lato', sans-serif;
  background: #000;
}
.imgRes{
  max-width: 100%;
  min-width: 100%;
}
.fondo{
  background: url('../img/bg.jpg') center center no-repeat;
  background-size:cover;
  background-attachment: fixed;
  width: 100%;
  z-index: 0;
}
.desk{
  display: block;
}
.res{
  display: none;
}
.gris{
  color: #515151;
}
.blanco{
  color: #fff;
}
.negro{
  color: #000000;
}
.chao{
  display: block;
}
.hola{
  display: none;
}
.margeTop{
  margin-top: 109px;
}
.margeTop2 {
    margin-top: 150px;
}

h1{
  font-family: 'Lato', sans-serif;
  color:#000000;
}
h2{
  font-family: 'Lato', sans-serif;
  color:#000000;
  font-size: ;
  padding:;
}
h3{
  font-family: 'Lato', sans-serif;
  color:#000000;
  font-size:;
}
h4{
  font-family: 'Lato', sans-serif;
  color: #000000;
}

h5{
  color: #000000;
  font-family: 'Lato', sans-serif;
}
.titu{
  font-family: 'mccain_sunshine_proregular', sans-serif;
  margin: 0;
}
.gigante{
  font-size: 56px;
}

a{
  text-decoration: none;
  cursor:pointer;
  color: #ffffff;
}
a:hover{
  text-decoration: underline;
  cursor:pointer;
  color: #ffffff;

}
a:active{
  text-decoration: none;
  cursor:pointer;
  color: #ffffff;
}
a:visited{
  text-decoration: none;
  cursor:pointer;
  color: #ffffff;
}
a:link{
  text-decoration: none;
  cursor:pointer;
  color: #ffffff;
}
a:focus{
  text-decoration: none;
  cursor:pointer;
  color: #ffffff;
}
.sinNada{
  margin: 0;
  padding: 0;
}
.cursor{
  cursor: pointer;
}
.padd{
  padding: 0;
}
.margBanner{
  margin: 30px auto;
}

/*LEGALES*/
.contLegal {
  width: 100%;
  height: 2000px;
  position: fixed;
  background: rgba(0, 0, 0, .9);
  z-index: 1000000;
  display: none;
}
.legalesTex {
    text-align: center;
    height: 540px;
    width: 80%;
    margin: 140px 10% 0 10%;
    overflow: auto;
    position: relative;
    margin-top: 130px;
    border: #ffdd00 2px solid;
    padding: 30px;
}
.leftAl{
  text-align: left;
}
.spaceText{
  height: 20px;
}
.subText{
  margin-left: 40px;
}
/*LEGALES*/


/*SECTION 01*/

.section01{
  width: 100%;
  position: relative;
}
.videoiframe{
  width: 100%;
  height: 400px
}
.headiframe{
  width: 100%;
  height: 156px;
  position: fixed;
  z-index: 100;
}
.conHead{
  position: relative;
  height: 110px;
}
.lineH{
  line-height: 24px;
}
/*HEADER*/
header{
  width: 100%;
  height: 60px;
  background: #000000;
  position: fixed;
  top: 0;
  z-index: 1000000;
}
ul{
  list-style: none;
  overflow: hidden;
  float: right;
  font-size: 0;
}
li{
  width: 100px;
  text-align: center;
  display: inline-block;
}
.line{
  border: 2px solid #ffd700;
  border-top: 0;
  height: 60px;
  border-bottom: 0;
}
.imgHead{
  width: 35px;
  margin: 0 auto;
}
.icons{
width: 100px;
}

.margeCero{
  margin: 0;
}
.logoHome{
  width: 140px;
  position: absolute;
  top: 10px;
  left: 30px;
  z-index: 1;
}
.logoHome img{
width: 140px;
}
.bgComuni{
  background: #ffd700;
  width: 190px;
  top: 0;
  position: relative;
  float: left;
  height: 60px;
}
.imgComuni{
  width: 120px;
}
.iconUser{
  width: 40px;
  height: 60px;
  padding: 10px 0;
  float: left;
  position: relative;
}
.texUser{
  float: left;
  width: 200px;
  text-align: left;
  position: relative;
  height: 60px;
  padding: 11px 10px;
}
.Nombre{
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  float: left;
}
.Cerrar{
  color: #ffd700;
  font-size: 12px;
  float: left;
  padding: 0;
  margin: 0;
}
.headGry{
  width: 100%;
  text-align: center;
  height: 54px;
  top: 60px;
  position: relative;
  background:#353535; 
}
.menuDos{
  position: absolute;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 0;
  top: 0;
  margin: 0;
  width: 100%;
}
.btnMenuDos{
  font-size: 16px;
  text-align: center;
  width: auto;
  padding:16px 20px;
  margin: 0;
}
.btnHover:hover{
  background: #ffd800;
  color: #000;
}
.desplega{
  background: #000;
  position: absolute;
  top: 113px;
  width: 100%;
  text-align: center;
  display: none;
}
.btnDesple{
  font-size: 14px;
  text-align: center;
  width: auto;
  padding: 14.5px 20px;
  color: #fff;
  margin: 0 auto;
  display: inline-block;
}
.imgText {
    width: 700px;
    margin: 30px 0;
}
.btnDesple:hover{
  font-size: 14px;
  text-align: center;
  width: auto;
  padding: 14.5px 20px;
  margin: 0;
  color: #000;
  background: #ffd800;
  margin: 0 auto
}
.imgIconHead{
  top: 7px;
  position: relative;
}

/*SECTION02*/
.section02{
  position: relative; 
  margin: 150px auto 40px auto;
  background-color: #ffffff;
}
.iconsCont{
  width: 100%;
  position: relative;
  text-align: center;
  padding: 40px;
}
.imgLogo{
  width: 250px;
  margin: 0 auto;
  position: relative;
  top: -170px;
  margin-bottom: 80px;
}
.posLogo{
  position: absolute;
  left: 0;
}
.imgText{
  width: 700px;
  margin: 30px 0;
}
.btn01{
  background: url('../img/imgBgbtn01.png') no-repeat center center;
  background-size: cover;
  padding: 10px;
}
.btn02{
  background: url('../img/imgBgbtn02.png') no-repeat center center;
  background-size: cover;
  padding: 10px;
}
.btn03{
  background: url('../img/imgBgbtn03.png') no-repeat center center;
  background-size: cover;
  padding: 10px;
}
/*.btn04 {
    background: url('../img/imgBgbtn04.png') no-repeat center center;
    background-size: cover;
    padding: 10px;
    margin-bottom: 20px;
}*/
.btnDown{
  width: 80%;
  position: relative;
  margin: 80px 10%;
}
.iconDownN{
  background: url('../img/iconDownLista01.png') no-repeat center 3px #ffd300;
  padding: 10px;
  height: 48px;
  background-size: 200px;
}
.iconDownN:hover{
  background: url('../img/iconDownLista01.png') no-repeat center -36px #000000;
  padding: 10px;
  height: 48px;
  background-size: 200px;
}
.iconIntertBtnDown{
  width: 40%;
}
.iconimg{
  width: 60%;
}
.txtNomProm{
  background: rgba(0, 0, 0, .7);
  position: absolute;
  width: 91.7%;
  z-index: 1;
  bottom: 41px;
  padding: 10px;
  text-align: center;
  color: #ffd300;
}
.lineCry {
  width: 100%;
  background-color: #6d6d6d;
  height: 2px;
  position: absolute;
  z-index: 4;
  top: 6px;
  left: 0;
  opacity: 0.1;
}
.txtpaso{   
  position: relative;
  top: 50px;
}
.txtpaso02{   
  position: relative;
  top:0;
}
.pasoCinco{
  width: 600px;
  margin: 0 auto;
  position: relative;
  top: 0;
}
.btnEsta{
  background: #ffd500;
  text-align: center;
  padding: 1px;
}
.btnEsta img{
  width: 100px;
}
.slidebg01{
  background: url('../img/slider/slider01a.jpg') no-repeat center center;
  background-size: cover;
  height: 350px;
}
.slidebg02{
  background: url('../img/slider01.png') no-repeat center center;
  background-size: cover;
  height: 350px;
}
.slidebg03{
  background: url('../img/slider01.png') no-repeat center center;
  background-size: cover;
  height: 350px;
}
.left{
  text-align: left;
  padding: 8px 0px;
  text-align: center;
}
.arrow{
  top: 45%;
  position: relative;
}

/*Section03*/
.section03{
  position: relative; 
  margin: 150px auto 40px auto;
  background-color: #ffffff;
}
.margenEstas{
  margin-top: 30px; 
}
.tituText{
  width: 100%
}
.titulo{
  width: 350px;
  background: #ffd600;
  padding: 10px 40px;
  margin: 0 auto 50px auto;
  position: relative;
  z-index: 5;
}
.titulo2{
  width: 440px;
}
.lineAma{
  width: 100%;
  background-color: #ffd600;
  height: 5px;
  position: absolute;
  z-index: 4;
  top: 25px;
  left: 0;
}
.contTit{
  position: relative;
  height: 100px;
  margin: 0 auto;
}
.iconIntert{
  width: 40%;
}
.iconIntertBtn {
    width: 20%;
}
.btnEstaInterna {
    width: 300px;
    margin: 0 auto;
}
.contTexInter {
    margin-bottom: 70px;
}
.imgPromo{
  width: 100%;
}
/*BANNER*/
.contBanner{
  position: relative;
}
.banner{
  background: url('../img/banner01.png') no-repeat center center;
  background-size: cover;
  height: 350px;
}
.bannerImg{
  width: 100%;
}
.margePromo{
  margin-bottom: 80px;
}

.disInline{
  display: inline-block;
}
.iconDown{
  width: 25px;
  vertical-align: sub;
}
.btnDesc{
  background: #ffd500;
  text-align: center;
  padding: 1px;
}



/* - - - - - - - - - - - - - - */

.textCont {
    width: 100%;
    position: relative;
    text-align: center;
    padding: 40px;
    margin-bottom: 40px;
}
.contAma {
  width: 60%;
  background: #ffdc00;
  padding: 3px 50px;
  text-align: left;
  position: absolute;
  left: -30px;
  z-index: 5;
}
.widtContAma{
  width: 80%;
}
.triangulo {
  width: 0;
  height: 0;
  border-right: 30px solid #d49401;
  border-top: 40px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  z-index: 2;
  left: -30px;
}

.img100{
  margin: 70px auto 0 auto;
  width:428px;
}
.contNeg{
  background: #000;
  padding: 1px;
}
.amarillo{
  color: #ffdc00;
}
.amarillo:hover{
  color: #ffdc00;
}
.amarillo:focus{
  color: #ffdc00;
}
.amarillo:visited{
  color: #ffdc00;
}
.amarillo:active{
  color: #ffdc00;
}
.linHeAma02 {
  height: 200px;
  width: 4px;
  background: #ffdc00;
  position: relative;
  text-align: center;
  margin: 0 auto;
  top: 90px;
}

.textCorri {
  text-align: left;
  margin: 29% 0 0 0;
}

.space{
  height: 100px;
  position: relative;
}
.imgPapas{
  margin: 70px auto 0 auto;
  width: 338px;
}
.ajustar{
  clear:both;
}
.marge{
  margin: 0 0 100px 0;
}
.vidCont{
      margin: 90px 0 0 0;
}
.margeMeca{
  margin-top: 70px;
}
.margeMeca02{
  margin-top: 10px;
}
.margeSlide{
  margin-top: 40px;
}

.pasobg01{
  background: url('../img/paso01.png') no-repeat center center;
  background-size: cover;
  height: 350px;
}
.pasobg02{
  background: url('../img/paso02.png') no-repeat center center;
  background-size: cover;
  height: 350px;
}
.pasobg03{
  background: url('../img/paso03.png') no-repeat center center;
  background-size: cover;
  height: 350px;
}
.pasobg04{
  background: url('../img/paso04.png') no-repeat center center;
  background-size: cover;
  height: 350px;
}
.pasobg05{
  background: url('../img/paso05.png') no-repeat center center;
  background-size: cover;
  height: 350px;
}
.contPasBla{
  width: 100%;
  background: #000;
  position: relative;
  height: 220px;
  padding: 10px;
  margin:0; 
}
.contPasYell{
  width: 100%;
  background: #ffd700;
  position: relative;
  height: 220px;
  padding: 10px;
  margin:0; 
}
.btnDistri{
    width: 410px;
    background: #ffd700;
    margin: 14px auto 0 auto;
    padding: 12px 30px;
}
.margeButPas{
  margin-bottom: 28px;
}
.valida{
  width: 300px;
  margin: 0 auto;
  padding: 10px;
}
.numero{
  width: 100px;
  margin: 0 auto -40px auto;
  top: -40px;
  position: relative;
}
.margeButPasos{
  margin-bottom: 60px;
}
.altoText{
  height: 20px;
}
.top{
  top: 0;
}
.textAl{
  text-align: center;
}
.sectionLegal{
    width: 100%;
    margin: 0 0 30px 0px;
}
.contTexGale{
  text-align: left;
  padding: 10px;
  border: 3px solid #ffd300;
  height: 270px;
}
.tituGale{
  top: 7px;
  position: relative;
  margin-bottom: 18px;
}
.mayus{
  text-transform: uppercase;
}
.btnVerMasGale{
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 85%;
  margin: 0 auto;
}

.headerGale{
  background: url('../img/galeComunidad/headerGale01.png') 0 0 no-repeat;
  background-size: cover;
  height: 350px;
}
.headerGale02{
  background: url('../img/galeTips/headerGaleTips02.png') 0 0 no-repeat;
  background-size: cover;
  height: 350px;
}
.headerGale03{
  background: url('../img/galeTips/headerGaleTips03.png') 0 0 no-repeat;
  background-size: cover;
  height: 350px;
}
.section04{
  position: relative; 
  margin: 10px auto 40px auto;
  background-color: #ffffff;
}
.txtLeft{
  text-align: left;
}
.txtPerson{
  padding: 0 0 0 0;
}
.fechaTips{
  position: absolute;
  right: 40px;
  top: 10px;
}
.lineAmaAlta {
  height: 80px;
  background: #ffd000;
  width: 2px;
  float: left;
  top: 0px;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
}
.lineHeCor{
  line-height: 21px;
}
.lineHeTit{
  line-height: 28px;
}
.bullet{
  color: #ffcf00;
}
.subCont{
  margin-left: 30px;
}
.marbotom{
  margin-bottom: 20px;
}
.fontBio{
  font-size: 12px;
}
.btnClosed{
  width: 59px;
  position: absolute;
  z-index: 1000000;
  top: 50px;
  right: 10%;
}
.ImgTexInter{
  float: left;
  width: 350px;
  position: relative;
  top: 17px;
  margin: 0 20px 20px 0;
}
.btnArea {
  border: 1px red solid;
  width: 290px;
  height: 39px;
  position: absolute;
  right: 11%;
  top: 41%;
}
.top2{
  top: 64%;
}
.btn01Slider {
  width: 510px;
  padding: 50px 0 0 100px;
  position: relative;
  margin: 0 auto;
}
.paddingtop2{
  padding: 10px 0 0 100px;
}
/*FOOTER*/
footer{
  width: 100%;
  background-color: #000000;
  overflow: hidden;
  padding-top: 5px;  
  padding-bottom: 10px;
  position: relative;
  bottom: 0;
  height: 70px;
}
.iconFooter {
  width: 111px;
  float: left;
  padding: 0px;
}
.textFoo{
  color: #ffffff;
  text-align: center;
}

.contTsxFoo {
  width: 220px;
  margin: 0 auto;
}


/*CSSBOOSTRAP*/

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(0,0,0,0);
    border: none;
    background: #000;
    border-radius: 10px;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.1) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.1) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.1)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.1) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}
.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.1)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}
.arrow2 {
    top: 35%;
    position: relative;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #ffd400;
}
.caroCom{
  top: 114px;
  position: relative;
}

/*AGREGADOS JS*/
.js-bodyOver{
  overflow: hidden;
}